
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />


    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="section-title">
                        <strong>02</strong>
                        <h1 class="heading bold">OUR School</h1>
                        <hr>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="../Content/images/about-img.jpg" class="img-responsive" alt="about img">
                </div>
                <div class="col-md-6 col-sm-12">
                    <h3 class="bold">DIGITAL TEAM</h3>
                    <h1 class="heading bold">Best Design Agency from California</h1>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">DESIGN</a></li>
                        <li><a href="#mobile" aria-controls="mobile" role="tab" data-toggle="tab">MOBILE</a></li>
                        <li><a href="#social" aria-controls="social" role="tab" data-toggle="tab">SOCIAL</a></li>
                    </ul>
                    <!-- tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="design">
                            <p>Digital School Management System.</p>
                            <p></p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="mobile">
                            <p></p>
                            <p><a href="#">Digital Platform</a> </p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="social">
                            <p></p>
                            <p></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />
    <br />

</center>

